.footer {     
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 1000px;
  padding: 0 48px;

  background: #22324a;      
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  border-radius: 0;         
  margin-bottom: 0;         
}